<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
  <!--   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner"style="box-shadow: 4px 6px 8px #dfdfdf;">
      <div class="item active">
        <img src="assets/icons/banner.jpg" alt="Los Angeles" class="caroser">
      </div>

    <!--   <div class="item">
        <img src="assets/img/brand/banner.jpg" alt="Chicago" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="assets/img/brand/banner.jpg" alt="New york" style="width:100%;">
      </div>
    </div> -->

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary">
<div class="container">
         
          <div class="bg" style="background-image: url('assets/icons/Areas-of-Practice-background.png');height: 900px;">
              <div class="row">
                  <div class="col-sm-10"><br><br> <b><h4 style="font-weight: 900;color: #565656;">AREAS OF PRACTICE</h4></b>
                      <b><h2 style="font-weight: 500;color: #565656;">We are professionals with significant operating experience in the finance and HR</h2></b></div>
                  <div class="col-sm-2">  &nbsp;&nbsp;<img src="assets/icons/chat-1.png" class="img-fluid img-center" style="height: 150px;" alt="Illustration" /></div>
                </div>
             
                  
         <!--  <div style="background-image: url('assets/img/brand/Areas-of-Practice-background.png');"> -->
              <div class="row mt-5">
                  <div class="col-md-3">
                      <div class="card" style="box-shadow: 4px 6px 8px #dfdfdf;">
                          <div class="card-body pb-5">
                              <div class="pt-4 pb-5">
                                  <img src="assets/icons/FINANCE-&-ACCOUNTING.png" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                              </div>
                              <h6 style="font-weight: 700;color: #404040; font-size:21px;">Finance & Accounting</h6>
                              <p class="text-muted mb-0">Quick Website UI Kit (FREE) contains components and pages that are easy to customize and change.</p><br>
                             
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a class="navbar-btn btn btn-sm d-none d-lg-inline-block ml-3" style="background:#f5f5f5; border: 1px solid #00000073; color: #00000073; padding: 3px 9px;font-size: 16px; cursor: pointer;" >
                                  <b style="color:#515151"> Read More </b>
                               </a>
                            
                          </div>
                          
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card" style="box-shadow: 4px 6px 8px #dfdfdf;">
                          <div class="card-body pb-5">
                              <div class="pt-4 pb-5">
                                  <img src="assets/icons/HUMAN-RESOURCES.png" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                              </div>
                              <h6 style="font-weight: 700;color: #404040; font-size:21px;">HUMAN RESOURCES</h6>
                              <p class="text-muted mb-0">Quick Website UI Kit (FREE) contains components and pages that are easy to customize and change.</p>
                              <br>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="navbar-btn btn btn-sm d-none d-lg-inline-block ml-3" style="background:#f5f5f5; border: 1px solid #00000073; color: #00000073; padding: 3px 9px;font-size: 16px; cursor: pointer;" href="https://github.com/webpixels/quick-website-ui-kit-demo/archive/master.zip">
                                  <b style="color:#515151"> Read More </b>
                               </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card"style="box-shadow: 4px 6px 8px #dfdfdf;">
                          <div class="card-body pb-5">
                              <div class="pt-4 pb-5">
                                  <img src="assets/icons/STRATEGIC-ADVISORY.png" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                              </div>
                              <h5 style="font-weight: 700;color: #404040; font-size:21px;">Increase your audience</h5>
                              <p class="text-muted mb-0">Quick Website UI Kit (FREE) contains components and pages that are easy to customize and change.</p>
                              <br>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             
                              <a class="navbar-btn btn btn-sm d-none d-lg-inline-block ml-3" style="background:#f5f5f5; border: 1px solid #00000073; color: #00000073; padding: 3px 9px;font-size: 16px; cursor: pointer;" href="https://github.com/webpixels/quick-website-ui-kit-demo/archive/master.zip">
                                  <b style="color:#515151"> Read More </b>
                               </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card"style="box-shadow: 4px 6px 8px #dfdfdf;">
                          <div class="card-body pb-5">
                              <div class="pt-4 pb-5">
                                  <img src="assets/icons/BUSINESS-SUPPORT.png" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                              </div>
                              <h5 style="font-weight: 700;color: #404040; font-size:21px;">Increase your audience</h5>
                              <p class="text-muted mb-0">Quick Website UI Kit (FREE) contains components and pages that are easy to customize and change.</p>
                              <br>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a class="navbar-btn btn btn-sm d-none d-lg-inline-block ml-3" style="background:#f5f5f5; border: 1px solid #00000073; color: #00000073; padding: 3px 9px;font-size: 16px; cursor: pointer;" href="https://github.com/webpixels/quick-website-ui-kit-demo/archive/master.zip">
                                  <b style="color:#515151"> Read More </b>
                               </a>
                          </div>
                          
                      </div>
                      
                  </div>
                
                </div>
             
                <div class="text-center">
                   <b><br><br><br>
                    <h4 style="font-weight: 900;">TESTIMONIALS</h4></b>
                  

              </div><br>
              <div class="text-center">
                    <h1 style="flood-color:#34302f;font-weight: 350;">What Client Say About Us</h1>

             </div>
              <!--   <div class="row">
                  <div class="col-sm-5"> </div>
                          <div class="col-sm-4"> <b><h4>TESTIMONIALS</h4></b>
                              <b><h3>What Client Say About Us</h3></b></div>
                                  <div class="col-sm-3"> </div>
                      </div> -->

                      

              </div>
            
          </div>
          
         <!--  </div> -->
  </section>


<section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary">
  <div class="bgs" style="background-image: url('assets/icons/TESTIMONIALS-Background.png');height: 422px;">
  <div class="row">
      <div class="col-12">
        <owl-carousel-o [options]="multipleItems">
      
            <ng-container *ngFor="let slide of apiData">
              <ng-template  carouselSlide>
                  <div class="slide"> 
                      <div class="card" style="box-shadow: 4px 6px 8px #d3d3d3;">
                          <div class="text-center card-img-top">
                              <img [src]="slide.url" class="rounded-circle"  style="max-width: 150px;" width="100%" alt="Illustration" />
                          </div>
                          <div class="card-body pb-5">
                              
                              <h5 class="h4 lh-130 mb-3">Unleash you creativity</h5>
                              <p class="text-muted mb-0">Quick Website UI Kit (FREE) contains components and pages that are easy to customize and change.</p>
                          </div>
                      </div>
                  </div>
               
              </ng-template>
            </ng-container>
        
          </owl-carousel-o>  
      </div>

  </div>
</div>
<div class="text-center">
<br><b><h3 style="color: #353332; font-weight: 700;">Some Our Client</h3></b>


</div><br>
<div class="text-center">
<b><h2 style="color:#f4ae4f;">The Following is a partial list of our valued clients</h2></b>


</div><br><br>
<div class="container">
    <owl-carousel-o [options]="multipleItems">
      
        <ng-container *ngFor="let slide of apiData">
          <ng-template class="slide" carouselSlide [id]="slide.id">
            <div><img alt="Image placeholder" src="assets/icons/client1.png" style="height: 4.75rem;"id="navbar-logo"></div>
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>  
</div>
<!-- <div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-2"><img alt="Image placeholder" src="assets/icons/client1.png" style="height: 4.75rem;"id="navbar-logo"></div>
<div class="col-sm-2"><img alt="Image placeholder" src="assets/icons/client1.png" style="height: 4.75rem;"id="navbar-logo"></div>
<div class="col-sm-2"><img alt="Image placeholder" src="assets/icons/client1.png" style="height: 4.75rem;"id="navbar-logo"></div>
<div class="col-sm-2"><img alt="Image placeholder" src="assets/icons/client1.png" style="height: 4.75rem;"id="navbar-logo"></div>
<div class="col-sm-2"><img alt="Image placeholder" src="assets/icons/client1.png" style="height: 4.75rem;"id="navbar-logo"></div>
<div class="col-sm-1"></div>
</div> -->
<br><br>
</section>
