.img-fluids {
    max-width: 100%;
    height: auto;
    border-radius: 98px;
    width: 150px;
    margin-left: 31px;
    box-shadow: -1px 5px 18px grey;
}

.img-fluidss {
    max-width: 100%;
    height: auto;
    width: 150px;
    margin-left: 37px;
    margin-top: -36px;
    max-height: 133px;
}
p.thicker {
    font-weight: 900;
  }
  .caroser{
  height: 409px;
    width: 1348px;
    /* margin-right: 73px;
    margin-left: 35px; */
}

.s{
    max-width: 107%;
    height: auto;
    border-radius: 98px;
    width: 150px;
    margin-left: -2px;
    box-shadow: 0px 5px 10px grey;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    /* border: 1px solid #dee2e6; */
  /*   border-radius: .25rem; */
    max-width: 100%;
    height: 617px;
}
