<div class="mb-5">
    <img src="../../../assets/icons/services.png" width="100%" />
</div>
<!-- Finance & Accounting -->
<div class="row mx-0 mb-3">
    <div class="col-md-5">
        <img src="../../../assets/icons/FINANCE-&-ACCOUNTING-Image.png" width="100%" />
    </div>
    <div class="col-md-7">
        <h3 class="font-weight-bold text-dark">
            FINANCE & ACCOUNTING<img src="../../../assets/icons/text-bg.png" class="ml-3" width="50" />
        </h3>
        <P class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</P>
        <div class="row">
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Invoicing</h5>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Payroll</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Financial Accounting</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Financial Planning</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Cost Accounting</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">External Reporting</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Budgeting Foracasting</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Strategy implemention</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">External Reporting</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Tax Planning</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a><img src="../../../assets/icons/Download-Templates.png" width="100%" /></a>
            </div>
        </div>
    </div>
</div>

<!-- Human Resourses -->
<div class="row mx-0 mb-3">
    <div class="col-md-7 pl-md-5">
        <h3 class="font-weight-bold text-dark">
            HUMAN RESOURSES<img src="../../../assets/icons/text-bg.png" class="ml-3" width="50" />
        </h3>
        <P class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s,</P>
        <div class="row">
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Recruitment & Selection</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Workforce Planning</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Employee Engagement</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Employee Exits</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Legislative Updates</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Policy Dodges & Framework</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Reward & Recognition</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Performance Management</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Stock Option Guidelines</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Merger & Acquisitions</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a><img src="../../../assets/icons/Download-Templates.png" width="100%" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <img src="../../../assets/icons/BUSINESS-SUPPORT-Image.png" width="100%" />
    </div>
</div>

<!-- STARATEGIC ADVIORY-->
<div class="row mx-0 mb-3">
    <div class="col-md-5">
        <img src="../../../assets/icons/FINANCE-&-ACCOUNTING-Image.png" width="100%" />
    </div>
    <div class="col-md-7">
        <h3 class="font-weight-bold text-dark">
            STARATEGIC ADVIORY<img src="../../../assets/icons/text-bg.png" class="ml-3" width="50" />
        </h3>
        <P class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s,</P>
        <div class="row">
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">
                            Strategic Analysis. Board & Investor Packages
                        </h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">
                            International Taxation, Transfer Pricing Norms
                        </h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">International Expansion</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Performance Improvement Metrics</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Funding Assistance, Market Comparables</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Due Diligence 0 Mergers & Acquisitions</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Tax Planning</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a><img src="../../../assets/icons/Download-Templates.png" width="100%" /></a>
            </div>
        </div>
    </div>
</div>

<!-- Bussiness Support -->
<div class="row mx-0">
    <div class="col-md-7 pl-md-5">
        <h3 class="font-weight-bold text-dark">
            BUSSINESS SUPPORT<img src="../../../assets/icons/text-bg.png" class="ml-3" width="50" />
        </h3>
        <P class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s,</P>
        <div class="row">
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Commercial Contract Negation</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Legal Through Partner Services</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Immigration Support</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Setting up Company Incorporation</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Secretarial</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">
                        <img src="../../../assets/icons/tick-mark.png" width="100%" class="px-1" />
                    </div>
                    <div class="col-10 pl-0">
                        <h5 class="text-dark">Staff and Off ice Support</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a><img src="../../../assets/icons/Download-Templates.png" width="100%" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <img src="../../../assets/icons/BUSINESS-SUPPORT-Image.png" width="100%" />
    </div>
</div>